table {
    text-align: center;
    table-layout: fixed;
}

td {
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

#pagination {
    display: flex;
    padding: 5px 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0.3px 0.6px rgba(0, 0, 0, 0.056), 0 0.7px 1.3px rgba(0, 0, 0, 0.081), 0 1.3px 2.5px rgba(0, 0, 0, 0.1), 0 2.2px 4.5px rgba(0, 0, 0, 0.119), 0 4.2px 8.4px rgba(0, 0, 0, 0.144), 0 10px 20px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    position: sticky;
}

#pagination li {
    margin: 0 5px;
}

#pagination li.page-number {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

#pagination li.page-prev,
#pagination li.page-next {
    font-weight: 700;
}

#pagination li.page-prev {
    margin-right: 20px;
}

#pagination li.page-next {
    margin-left: 20px;
}

#pagination li a {
    display: block;
    line-height: 28px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: #777;
    border-radius: 50%;
    transition: 0.3s;
}

#pagination li a.prev:hover path,
#pagination li a.next:hover path {
    fill: black;
}

/* status badges */

.status {
    display: inline-block;
    padding: 0 2px;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 2px;
    font-size: small;
    background: rgb(101, 101, 101);
    color: rgb(255, 255, 255);
}

.status#Memory\ Limit\ Exceeded, .status#Time\ Limit\ Exceeded {
    background: rgb(196, 137, 0);
}

.status#Accepted {
    background: rgb(82, 196, 26);
}

.status#Wrong\ Answer {
    background: rgb(196, 0, 0);
}
/* spinner */
*,
*:before,
*:after {
  box-sizing: inherit;
}
.circle {
    position: relative;
    width: 28px;
    height: 28px;
  }
  
  .circle-half {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
    animation: circle-clip-rotate 10s steps(2) infinite;
  }
  
  .circle-border {
    box-sizing: border-box;
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 2px transparent;
    border-top-color: black;
    border-left-color: black;
    border-radius: 50%;
  }
  
  #clipped {
    width: 200%;
    animation: circle-rotate 5s linear infinite;
  }
  
  #fixed {
    width: 100%;
    transform: rotate(135deg);
    animation: circle-show-fixed 10s steps(2) infinite;
  }
  
  @keyframes circle-clip-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes circle-rotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  @keyframes circle-show-fixed {
    0% {
      opacity: 0;
    }
    49.9% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  