{% if admin %} {% extends "admin/base.html" %}
{% else %} {% extends "base.html" %}
{% endif %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('plugins.ctfd-acm-challenges.assets', path='css/queue.css') }}">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Status</h1>
    </div>
</div>
<div class="container">
    <div class="row">
		<div class="col-md-12">
			{% include "components/errors.html" %}
		</div>
	</div>
    <div class="row">
        <ul class="pagination" id="pagination">
            <li class="page-prev" onclick="update(-1)">
                <a class="prev" href="#">&lt;&lt;</a>
            </li>
            <li class="page-number">
                <div class="circle">
                    <div class="circle-half">
                        <div class="circle-border" id="clipped"></div>
                    </div>
                    <div class="circle-border" id="fixed"></div>
                    <span class="align-middle text-center" id="page">1</span>
                </div>
            </li>
            <li class="page-next" onclick="update(+1)">
                <a class="next" href="#">&gt;&gt;</a>
            </li>
        </ul>
        <div class="tab-content">
            <table class="table">
                <thead>
                    <tr id="tab_head">
                        <th>Author</th>
                        <th>Challenge</th>
                        <th width="10%">Language</th>
                        <th width="20%">Status</th>
                        <th>Date</th>
                        <th width="10%">Time</th>
                        <th width="10%">Memory</th>
                    </tr>
                </thead>
                <tbody id="tab_data">
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('plugins.ctfd-acm-challenges.assets', path='js/queue.js') }}"></script>
{% endblock %}