{% extends "challenge.html" %}

{% block description %}
{{ challenge.html }}
<textarea id="submission-input" style="display: none;"></textarea>
{% endblock %}

{% block input %}
<script src="{{ script_root }}/plugins/ctfd-acm-challenges/assets/js/base64.js"></script>

<link rel="stylesheet" type="text/css"
    href="{{ script_root }}/plugins/ctfd-acm-challenges/assets/vendor/codemirror.min.css">
<link rel="stylesheet" type="text/css"
    href="{{ script_root }}/plugins/ctfd-acm-challenges/assets/vendor/mdn-like.min.css">

<input id="challenge-id" type="hidden" value="{{ challenge.id }}">
<select id="submission-language" class="form-control" onchange="CTFd._internal.challenge.postRender()">
    <option value="">Select Language: </option>
    <option value="cpp">C++</option>
    <option value="python3">Python 3</option>
    <option value="python2">Python 2</option>
</select>

{% endblock %}

{% block submit %}
<button for="submission-language" type="submit" id="challenge-submit"
    class="challenge-submit">Submit
</button>
{% endblock %}